.wrapper {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 2em;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 1.5rem;
    flex-grow: 1;
    overflow-y: auto;
    padding-bottom: 2rem;
    padding-top: .4rem;
    padding-right: 0.5rem;
    scrollbar-width: none;
}

.gridContainer::-webkit-scrollbar {
    width: 6px;
}

.gridContainer::-webkit-scrollbar-thumb {
    background-color: #cbd5e1;
    border-radius: 20px;
}