.container {
   display: flex;
   height: 100vh;
   box-sizing: border-box;
   padding: 1em;
   flex-direction: column;
   overflow: hidden;
   color: var(--black-color);
}

.sidebarArea {
   flex-shrink: 0;
   width: 100%;
}

.contentArea {
   flex-grow: 1;
   padding: 1rem;
   height: 80%;
}