.container {
   display: flex;
   height: 100vh;
   width: 100vw;
   flex-direction: column;
   overflow: hidden;
   color: #e2e8f0;
}

.sidebarArea {
   height: 200px;
   flex-shrink: 0;
   width: 100%;
}

.contentArea {
   flex-grow: 1;
   width: 100%;
   overflow-y: auto;
   padding: 2rem;
}