.sidebar {
    padding: 1em;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    border-radius: 12px;
    max-width: 1500px;
    margin: 0 auto;
}

.nav {
    display: flex;
    gap: 1.5rem;
}

.link {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding: 20px 1rem;
    opacity: 1;
    border-radius: 100px;
    text-decoration: none;
    color: var(--black-color);
    font-weight: 500;
    transition: all 0.2s ease;
}

.linkButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    border: none;
    border-radius: 100px;
    background-color: transparent;
    color: var(--black-color);
    transition: all 0.2s ease;
}

.linkButton:hover {
    background: var(--black-color);
    color: var(--white-color);
    transform: scale(1.05);
}

.link:hover {
    background: var(--black-color);
    color: var(--white-color);
    transform: scale(1.1);
}

.activeLink {
    composes: link;
    background: var(--black-color);
    opacity: .5;
    color: var(--white-color);
}

.navButtons {
    display: flex;
    align-items: center;
    gap: 1em;
}

.imgPerfil {
    width: 52px;
    height: 52px;
    border-radius: 200px;
}