.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
    /* Ajuste para usar a cor de fundo do layout principal */
    background-color: var(--primary-color, #f3f5f7); 
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1.5rem;
    flex-shrink: 0;
}

.title {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--black-color);
    margin: 0;
}

.headerActions {
    display: flex;
    align-items: center;
    gap: 1rem;
}