.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1em;
    flex-shrink: 0;
}

.title {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--black-color);
    margin: 0;
}

.headerActions {
    display: flex;
    align-items: center;
    gap: 1rem;
}