.primaryBtn {
    background-color: var(--black-color);
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 100px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transition: transform 0.2s;
    flex-shrink: 0;
}

.primaryBtn:hover {
    transform: scale(1.06);
}