:root {
    --primary-color: #F3F5F7;
    --white-color: #FFFFFF;
    --black-color: #050810;
    --font-main: "Poppins"
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--primary-color);
    font-family: var(--font-main);
}